@import 'config';
@import 'menu';

* {
	box-sizing: border-box;
}

body {
	@include background;
	background: $primary-color;
	color: set-text-color($primary-color);
	height: 100%;
	margin: 0;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}

// Headings

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;
		font-family: $heading-font;
	}

	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 2rem;
		letter-spacing: 1px;
		background: linear-gradient(270deg, transparent 0, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.65) 0);
	}
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
}

main {
	padding: 4rem;
	min-height: calc(100vh - 60px);

	&#home {
		overflow: hidden;

		.pre-heading {
			margin-top: 13vh;
		}

		.icons {
			.fa-2x {
				font-size: 1.5rem;
				transition: transform 0.2s ease-in-out;

				&:hover {
					transform: scale(1.4);
				}
			}

			a {
				padding-right: 1.4rem;
				color: #c5c4c1;

				&:hover {
					color: $secondary-color;
					@include easeOut;
				}
			}
		}

		.btn-reset {
			padding: 0;
			border: none;
			font: inherit;
			color: inherit;
			background-color: transparent;
			cursor: pointer;
		}

		.more-btn {
			margin-top: 4rem;
			padding: 0.5rem 2rem;
			font-size: 1.25rem;
			background: $secondary-color;
			color: #4a4646;
			text-transform: uppercase;
			font-weight: bold;
			border-radius: 4px;
			transition: all 0.4s ease-in-out;

			&:hover {
				background: $primary-color;
				opacity: 0.7; // font-weight: 700;
				color: white;
			}
		}
	}
}

// About Page
.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		'bioimage bio bio'
		'col1 col2 col3';
	grid-template-columns: repeat(3, 1fr);

	.bio-image {
		grid-area: bioimage;
		margin: auto;
		width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 3px solid $secondary-color;
	}

	.bio {
		grid-area: bio;
		font-size: 1.5rem;
	}

	.col-1 {
		grid-area: col1;
	}

	.col-2 {
		grid-area: col2;
	}

	.col-3 {
		grid-area: col3;
	}

	.col {
		background: lighten($primary-color, 5);
		padding: 0.5rem;
		border-bottom: 5px solid $secondary-color;
	}

	span {
		color: $secondary-color;
	}
}

// Project Page
.projects {
	display: grid;
	grid-gap: 0.8rem;
	grid-template-columns: repeat(3, 1fr);

	.item {
		margin-bottom: 2.3rem;

		img {
			width: 100%;
			border: 3px solid #fff;
		}
	}

	.container {
		position: relative;

		.img-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			background-color: $primary-color;
			border: 3px solid $secondary-color;

			&:hover {
				opacity: 1;
				border-color: $secondary-color;
				@include easeOut;
			}
		}

		.text {
			width: 90%;
			color: white;
			font-size: 18px;
			position: absolute;
			top: 53%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	.project-info {
		border: 1px solid $secondary-color;
		border-radius: 20px;
		display: inline-block;
		margin: 1rem 0.3rem 0 0;
		padding: 0.3rem 1rem;
		font-size: 0.9rem;
		letter-spacing: 1px;
	}
}

// Contact Page
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 2rem;
		border: 1px solid#fff;
		border-radius: 4px;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		@include easeOut;

		&:hover {
			border-color: $secondary-color;
			background: $secondary-color;
			color: set-text-color($secondary-color);

			span {
				color: set-text-color($secondary-color);
			}
		}
	}
}

// Button Styles
.btn {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	text-align: center;

	&:hover {
		background: $secondary-color;
		color: set-text-color($secondary-color);
	}

	&-dark {
		@extend.btn;
		background: darken($primary-color, 50);
		color: #fff;
	}

	&-light {
		@extend .btn;
		background: lighten($primary-color, 50);
	}

	&-disabled {
		@extend .btn;
		background: #c3bfbf;
		color: grey;

		.fa-github {
			color: transparent;
		}

		&:hover {
			background: #c3bfbf;
			color: grey;
			cursor: default;
		}
	}

	&-removed {
		@extend .btn;
		background: transparent;

		.fa-github {
			color: transparent;
		}

		&:hover {
			background: transparent;
			color: grey;
			cursor: default;
		}
	}
}

// Impresseum Page

.content {
	margin: 2rem;

	.heading {
		color: $secondary-color;
	}
}

//  Sticky Footer , calc function on main
#main-footer {
	height: 60px;
	padding: 1.25rem 4rem 0;
	display: flex;
	justify-content: space-between;
	background: black;

	a {
		cursor: pointer;

		&:hover {
			color: $secondary-color;
			@include easeOut;
		}
	}

	a,
	div {
		color: grey;
	}

	.icons {
		.fa-2x {
			font-size: 1.5rem;
		}

		a {
			padding-right: 1.4rem;
		}
	}
}

// Media Queries at the bottom to run after normal CSS
@import 'mobile';
